.elementor-123 .elementor-element.elementor-element-9642557 .elementor-spacer-inner {height: 50px;}
.elementor-123 .elementor-element.elementor-element-a9a59b1 {text-align: center;}
.elementor-123 .elementor-element.elementor-element-a9a59b1 .elementor-heading-title {color: #fff;font-family: "Actor",Sans-serif;}